@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=DM+Sans:ital@1&family=Lora:ital@1&family=Noto+Sans+JP:wght@100&family=Pixelify+Sans&family=Raleway:wght@100&family=Righteous&family=Smokum&display=swap');

:root {
    --cor01: #F7AD45;
    --cor02: #B60303;
    --cor03: #7C1400;
    --cor04: #9D9D9D;
}

body {
    background-color: var(--cor01);
    font-family: Pixelify Sans;
}

.bg-body-tertiary {
    background-color: var(--cor02) !important;
}

.accordion-item {
    background-color: var(--cor01) !important;
    color: white;
}

.accordion-button {
    background-color: var(--cor02) !important;
    margin: 3px;
    color: white;
}

.active {
    color: white !important;
    font-family: Pixelify Sans;
}

p, h4 {
    margin: 30px;
}

.card>img {
    background-color: var(--cor01);
    color: black !important;
}

.card {
    text-align: center;
    margin: 2px;
}

.cards-competidores {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: black !important;
}

#carouselExampleInterval {
    margin: 0% auto;
    width: 900px;
}

.d-block {
    height: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
}
